**/android/.gradle
.DS_Store
local.properties
.idea
**/AgoraLyricsScore/*
**/AgoraLyricsScore123/*
Pods
**/*.xcworkspace/**
**/xcuserdata
**/ByteEffectLib/*
**/SenseLib/*
**/*.lic
**/libs/*
**/buglyqq-upload-symbol/**
**/build.sh
**/FULib/*

