<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.agora.scene.aichat">

    <application>
        <activity
            android:name=".create.AIChatListActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/aichat_MaterialComponentsTheme"
            android:windowSoftInputMode="adjustPan" />
    </application>
</manifest>