.titleBar{
    width: 100vh;
    box-sizing: border-box;
    height: 40px;
    padding: 10px 10px;
    position: fixed;
    top: 0;
    left: 0;
}
.titleBar img{
    height: 20px;
    width: auto;
}