<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.agora.scene.joy">

    <application>

        <activity
            android:name="io.agora.scene.joy.ui.RoomListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/joy_def_material_theme" />

        <activity
            android:name="io.agora.scene.joy.ui.LivePrepareActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:keepScreenOn="true"
            android:theme="@style/joy_def_material_theme" />

        <activity
            android:name="io.agora.scene.joy.ui.RoomLivingActivity"
            android:exported="false"
            android:keepScreenOn="true"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/joy_def_material_theme"
            android:windowSoftInputMode="adjustNothing" />
    </application>
</manifest>