*.aar
*.so
src/main/assets/beauty_bytedance/LicenseBag.bundle
src/main/assets/beauty_bytedance/ModelResource.bundle
src/main/assets/beauty_bytedance/ComposeMakeup.bundle
src/main/assets/beauty_bytedance/StickerResource.bundle
src/main/assets/beauty_faceunity/makeup
src/main/assets/beauty_faceunity/sticker
src/main/assets/beauty_sensetime/filter_portrait
src/main/assets/beauty_sensetime/license
src/main/assets/beauty_sensetime/makeup_*
src/main/assets/beauty_sensetime/models
src/main/assets/beauty_sensetime/sticker_face_shape
src/main/assets/beauty_sensetime/style_lightly
/src/main/java/io/agora/scene/show/beauty/authpack.java
\build