*.aar
*.so
src/main/assets/beauty_bytedance
src/main/assets/beauty_faceunity
src/main/assets/beauty_sensetime
src/main/assets/beauty_agora
/src/main/java/io/agora/scene/show/beauty/authpack.java
\build