<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.agora.scene.voice">

    <!-- 访问网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 申请闹钟定时权限 -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:name="io.agora.scene.base.component.AgoraApplication"
        android:allowBackup="false"
        android:icon="@mipmap/voice_ic_launcher_room"
        android:label="@string/voice_app_name"
        android:networkSecurityConfig="@xml/voice_net_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/voice_ic_launcher_room"
        android:supportsRtl="true"
        android:theme="@style/voice_Theme.AgoraScenesChatroom"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">

        <activity
            android:name="io.agora.scene.voice.ui.activity.VoiceRoomListActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="io.agora.scene.voice.ui.activity.ChatroomLiveActivity"
            android:exported="false"
            android:keepScreenOn="true"
            android:screenOrientation="portrait" />

        <activity
            android:name="io.agora.scene.voice.ui.activity.VoiceRoomSoundSelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>
</manifest>