<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.agora.scene.ktv">

    <application>

        <activity
            android:name="io.agora.scene.ktv.create.RoomListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.agora.scene.ktv.live.RoomLivingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
    </application>
</manifest>